In [48]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats

In [49]:
stat_data = pd.read_csv('stats.csv',sep=',')

In [50]:
stat_data.head()

   Emp#  YearsOfExp  Salary in Rs.
0     1          10         126015
1     2           1          12598
2     3           8         100639
3     4          10         125351
4     5           2          25031

In [51]:
len(stat_data)

25

# Mean, Median, Mode, Standard Deviation and Variance for YearOfExp and Salary in Rs. columns induvidually

In [52]:
print(f"Age Mean = {np.mean(stat_data['YearsOfExp'])} and Salary Mean = {np.mean(stat_data['Salary in Rs.'])}")

Age Mean = 6.2 and Salary Mean = 77821.2

In [53]:
print(f"Age Median = {np.median(stat_data['YearsOfExp'])} and Salary Median = {np.median(stat_data['Salary in Rs.'])}")

Age Median = 7.0 and Salary Median = 87654.0

In [54]:
print(f"Age Mode = {stats.mode(stat_data['YearsOfExp'])} and Salary Mode = {stats.mode(stat_data['Salary in Rs.'])}")

Age Mode = ModeResult(mode=array([10], dtype=int64), count=array([5])) and Salary Mode = ModeResult(mode=array([100639], dtype=int64), count=array([2]))

In [62]:
print(f"Age std = {np.std(stat_data['YearsOfExp'])} and Salary std = {np.std(stat_data['Salary in Rs.'])}")

Age std = 3.111269837220809 and Salary std = 39042.5299620811

In [77]:
print(f"Age variance = {np.var(stat_data['YearsOfExp'])} and Salary variance = {np.var(stat_data['Salary in Rs.'])}")

Age variance = 9.68 and Salary variance = 1524319145.8400004

# Dropping the employee number column

In [55]:
exp_sal = stat_data.drop(columns = 'Emp#')

# Mean, Median, Mode, Standard Deviation and Variance with Dataframe

In [68]:
exp_sal.mean()

YearsOfExp           6.2
Salary in Rs.    77821.2
dtype: float64

In [69]:
exp_sal.median()

YearsOfExp           7.0
Salary in Rs.    87654.0
dtype: float64

In [70]:
exp_sal.mode()

   YearsOfExp  Salary in Rs.
0          10         100639

In [84]:
exp_sal.std(axis=0)

YearsOfExp           3.175426
Salary in Rs.    39847.615281
dtype: float64

In [80]:
exp_sal.var(axis=0)

YearsOfExp       1.008333e+01
Salary in Rs.    1.587832e+09
dtype: float64

# Mean, Median, Mode, Standard Deviation and Variance for dataset with numpy and stats libraries

In [56]:
np.mean(exp_sal)

YearsOfExp           6.2
Salary in Rs.    77821.2
dtype: float64

In [79]:
np.median(exp_sal)

6304.0

In [59]:
stats.mode(exp_sal)

ModeResult(mode=array([[    10, 100639]], dtype=int64), count=array([[5, 2]]))

In [74]:
np.std(exp_sal,axis=0)

YearsOfExp           3.111270
Salary in Rs.    39042.529962
dtype: float64

In [75]:
np.var(exp_sal,axis=0)

YearsOfExp       9.680000e+00
Salary in Rs.    1.524319e+09
dtype: float64