<a href="https://colab.research.google.com/github/nagen01/AIML/blob/master/L1_1s_Assignment_12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [0]:
apd = pd.read_csv('/content/sample_data/Automobile_price_data Raw.csv')

In [0]:
apd.head()

    symboling normalized-losses  make  ... city-mpg highway-mpg  price
3           2               164  audi  ...       24          30  13950
4           2               164  audi  ...       18          22  17450
6           1               158  audi  ...       19          25  17710
8           1               158  audi  ...       17          20  23875
10          2               192   bmw  ...       23          29  16430

[5 rows x 23 columns]

In [0]:
#apd = apd.drop(columns = ['engine-type','num-of-cylinders','fuel-system'])

In [0]:
#apd = apd.replace('?',np.NaN)

In [0]:
#apd.dropna(inplace=True)

In [0]:
#apd.isnull().sum()

In [0]:
#Taking horsepower for price calculation
X = apd.iloc[:,-5:-4].values
y = apd.iloc[:,-1:].values

In [0]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [0]:
regressor = LinearRegression()
regressor.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [0]:
y_pred = regressor.predict(X_test)

In [0]:
r2_score(y_test,y_pred)

0.5823682396698122