In [5]:
import numpy as np
import math
from scipy import stats
from scipy.stats import pearsonr, ttest_ind
from statsmodels.stats import weightstats as stests

# 7th Part

In [6]:
x = 200
mean = 177
std = 10

#By mathmatics 
def normpdf(x, mean, std):
    var = float(std)**2
    denom = (2*math.pi*var)**.5
    num = math.exp(-(float(x)-float(mean))**2/(2*var))
    return num/denom

normpdf(x,mean,std)
#ie. only 0.28% porbability exists that person is of 200 year old

0.0028327037741601173

In [7]:
#Using scipy library
stats.norm(177,10).pdf(200)

0.002832703774160119

# 8th Part

In [8]:
mpg = [21.0, 21.0, 22.8, 21.4, 18.7, 18.1, 14.3, 24.4, 22.8, 19.2, 17.8, 16.4, 17.3, 15.2, 10.4, 10.4, 14.7, 32.4, 30.4,
       33.9, 21.5, 15.5, 15.2, 13.3, 19.2, 27.3, 26.0, 30.4, 15.8, 19.7, 15.0, 21.4]
hp = [110, 110, 93, 110, 175, 105, 245, 62, 95, 123, 123, 180, 180, 180, 205, 215, 230, 66, 52, 65, 97, 150, 150, 245, 175, 66, 91, 113, 264, 175, 335, 109]

In [9]:
corr, _ = pearsonr(mpg,hp)
print('Pearsons correlation: %.3f' % corr)

Pearsons correlation: -0.776

In [10]:
# As pearson correlation coefficient is negatively high (-0.776) hence these 2 variables are rarely correlated

# 9th Part

In [11]:
#Perform T test:
class1_score = np.array([45.0, 40.0, 49.0, 52.0, 54.0, 64.0, 36.0, 41.0, 42.0, 34.0])
class2_score = np.array([75.0, 85.0, 53.0, 70.0, 72.0, 93.0, 61.0, 65.0, 65.0, 72.0])

class1_score_mean = np.mean(class1_score)
class2_score_mean = np.mean(class2_score)
class1_score_std = np.std(class1_score)
class2_score_std = np.std(class2_score)

print('class1_score_mean: ',class1_score_mean)
print('class2_score_mean: ',class2_score_mean)
print('class1_score_std: ',class1_score_std)
print('class2_score_std: ',class2_score_std)

class1_score_mean:  45.7
class2_score_mean:  71.1
class1_score_std:  8.683893136145793
class2_score_std:  10.931148155614762

In [12]:
t_test,pval = ttest_ind(class1_score,class2_score)
#print('t_test result:', t_test)
print("p-value :",pval)
if pval <0.05:
  print("we reject null hypothesis")
else:
  print("we accept null hypothesis")

p-value : 3.482072285015316e-05
we reject null hypothesis

# 10th Part

In [13]:
mean_national = 60
std = 3
mean_class = 53

z = (53 - 60)/3
z
#The null hypothesis is that the mean marks of the class are similar to the national average.

-2.3333333333333335

In [14]:
pval = stats.norm.cdf(z)
pval
#As we see value of z test is -ve ie. and hence p < 0.05, we can conclude our hypothesis went wrong

0.009815328628645334